@charset "utf=8";
/* 웹폰트 지정 */
@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 전역 */
:root {
    /* 컬러 */
    --color-black: #242424;
    --color-white: #ffffff;
    --color-gray: #e3dbd1;
    --color-m-gray: #c6c6c6;
    --color-g-gray: #b8b8b8;
    --color-green: #66c081;
    --color-light-green: #e8f9d6;
    --color-orange: #ff8859;
    --color-light-orange: #faa583;
    --color-dark-oragne: #ec6142;
    --color-beige: #fdfaf3;
    --color-purple: #665a98;
    --color-light-gray: #edededf9;
    --color-pink: #f4baba;
    --color-dark-pink: #ee7892;
    --color-p-pink: #fae4ed;
    --color-lemon: #fff1ba;
    --color-yellow: #facf6d;
    --color-light-yellow: #fcfcd0;
    --color-blue: #416599;
    --color-middle-blue: #5377a9;
    --color-dark-blue: #39557d;
    --color-light-blue: #deeafc;

    /* 폰트 사이즈 */
    --font-large: 2.2rem;
    --font-medium: 1.8rem;
    --font-regular: 1.25rem;
    --font-basic: 1.15rem;
    --font-small: 1rem;
    --font-micro: 0.8rem;

    /* 폰트 두께 */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
}

/* 유니버셜 태그 */
* {
    box-sizing: border-box; /* 넓이와 높이가 패딩을 포함해도 동일한 사이즈가 되도록 설정 */
}

button {
    border:none;
}

html, body, #root {
    height: 100%;
    min-width: 360px;
    margin: 0;
    padding: 0;
    font-family: 양진체;
    background-color: var(--color-beige);
}

body {
    padding: 10px;
}

.header {
    display: flex;
    flex-flow: row nowrap; /* direction, wrap */
    justify-content: center; /* 자식 요소 정렬 - 가로축 */
    align-items: center;  /* 자식 요소 정렬 - 세로축 */
    color: var(--color-blue);
    font-size: var(--font-medium);
    height: 70px;
    border : 4px solid var(--color-gray);
    background-color: var(--color-yellow); 
    text-shadow : 1.5px 1.2px 0 var(--color-white);  
}

.header > span {
    /* white-space: nowrap; */
    position: relative;
    top: -2px;
} 

main {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 10px;
    height: calc(100% - 80px); /* 전체 height에서 80px 제외 */
}

.sidebar {
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 0;
    width: 150px;
    border: 4px solid var(--color-gray);
    background-color: var(--color-blue);
    padding: 10px 12px;
    /* overflow-y: scroll; */
    /* text-shadow : 2px 1px 0 var(--color-gray); */ /* x축 y축 blur 컬러  */
}

.sidebar > span {
    font-size: var(--font-regular);
    color: var(--color-white);
    padding : 2px;
    margin-bottom: 15px;
}

.btn-add {
    background-color: var(--color-yellow);
    border: 3px solid var(--color-dark-blue);
    font-size: var(--font-basic);
    color: var(--color-dark-blue);
    padding: 10px; /* 상-하, 좌-우*/
    font-family: 양진체;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}

.btn-add:hover {
    background-color: var(--color-green);
    color: var(--color-white);
}

.container {
    display: flex;
    flex-flow: row wrap;
    flex: 1; /* 전체 너빗값의 비율을 1로 지정 */
    justify-content: flex-start;
    align-content: flex-start;
    margin-left: 10px;
    padding: 10px;
    border: 4px solid var(--color-gray);
    background-color: var(--color-beige);
    font-family: 'GmarketSansMedium';
    overflow-y: scroll;
}

.item {
    display: flex;
    flex-flow: column nowrap;
    width: 180px;
    min-height: 180px;
    padding: 10px;
    margin: 10px;
    border: 3px dashed var(--color-m-gray);
    border-radius: 5px;
    background-color: var(--color-lemon);
}

.item > img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}

.item > span {
    font-size: var(--font-small);
    text-align: center;
    word-break: break-all;
}

/* modal */
.modal-wrapper { 
     position: fixed;
     top: 0;
     left: 0;
     width: 100vw; /* viewport의 width만큼을 100%로 채워라 */
     height: 100vh; /* viewport의 height만큼을 100%로 채워라 */
     /* display: flex;
     justify-content: center;
     align-items: center; */
     z-index: 1;
}

.modal-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 380px;
    padding: 18px 25px 0 25px;
    background-color: var(--color-yellow);
    border: 4px solid var(--color-dark-blue);
    border-radius: 10px;
    color: var(--color-dark-blue);
    font-size: var(--font-basic);
    z-index: 2;
}

.modal-content label {
    margin-bottom: 3px;
}

.modal-content input {
    width: 100%;
    padding: 10px 10px;
    margin: 3px 0 10px 0; /* 상 우 하 좌*/
    font-size: var(--font-small);
    border: 3px solid var(--color-gray);
    border-radius: 7px;
    font-family: 'GmarketSansMedium';
}

.modal-content input:focus {
    border-color: var(--color-orange);
    background-color: var(--color-light-yellow);
    outline: none;
}


.modal-content .submit-btn {
    padding: 9px 10px;
    font-size: var(--font-basic);
    font-family: 양진체;
    color: var(--color-white);
    margin: 5px 0 0 0; /* 상 우 하 좌*/
    border: 3px solid var(--color-dark-blue);
    background-color: var(--color-blue);
    border-radius: 5px;
    cursor: pointer;
}

.modal-content .submit-btn:hover {
    background-color: var(--color-green);
    color: var(--color-white);
}

.modal-content .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-25%, 15%);
    border-radius: 100%;
    padding: 15px;
    z-index: 3;
    cursor: pointer;
}

.close-btn:hover {
    color: var(--color-orange);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* parents인 modal__wrapper의 단위가 vw,vh이므로 %로 해도 괜찮음 */
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}


/* 미디어쿼리 선언 */
@media screen and (max-width: 600px) {
    .item { 
        border-color: var(--color-m-gray);
        background-color: var(--color-light-blue);
    }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
    .item { 
        border-color: var(--color-g-gray);
        background-color: var(--color-light-green);
    }
}